body{
    padding: 0;
    margin: 0;
}
/* .topnav{
    display: flex;
    background-color: white;
    height: 9%;
    align-items:center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
   
} */
/* .topnav a{
 text-decoration: none;
 color: black;
} */
/* .halfnav1 img{
    width:10%;
}
.halfnav1{
  display: flex;
  gap : 15px;
   
}
.halfnav2{
   display: flex;
   gap: 15px;
} */
/* .secondbar{
    background-color: #0067b8;
    height: 9%;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
 
   
} */

/* .button_1{
    background-color: #0067b8;
    color: white;
} */
/* .landpage{
    display: flex;
    gap:15%;
   
} */
/* .image {
    width: 50%;
} */

/* .content{
    width:50%;
    margin-top:12%;

} */
/* .icons{
    display:flex;
    margin-top: 4%;
    gap:17px;
    justify-content: center;
} */
/* .icon{
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap:10px;
} */
/* .icon1 img{
    width: 20%;
  
} */
.cards{
    display:flex;
    gap:2%;
    margin-top: 3%;
}
@media only screen and (max-width:700px){
    topnav halfnav1{
        width: 100%;
       

    }
}